#heading{
  height: 400px;
  width: 100%;
  background-color:rgb(135, 206, 250);
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");  
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btn__icon fas fa-angle-double-down {
  display: flex;
  color: red;
  /* justify-content: space-between;
  align-items: flex-end; */
/* } */ 